<link rel="stylesheet" href="/css/user_profile.css">
<h2>Users profile</h2>
<!-- <div id="profile"></div> -->
<% if(user.id == profile_user.id){ %>
    <!------- IF ID MATCHES THEN SHOW THE FORM -->
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST"> 
        <input type="text" name="name" placeholder="Enter Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Enter email" value="<%= profile_user.email %>" required>

        <input type="file" name="" placeholder="Profile Picture">
        <input type="submit" value="Update">
    </form>
<% }else{ %>
    <!-------- SHOW ONLY THE DETAILS ------->
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
<% } %>